.example-form {
  min-width: 150px;
  max-width: 400px;

  outline: #4682a9 solid 2px;
  margin: 0 auto;
  padding: 30px;
  background-color: #91c8e4;
  color: #4682a9;
  border-radius: 25px;
}

.example-full-width {
  width: 100%;
}
h1 {
  min-width: 150px;
  max-width: 200px;
  margin: auto;

  padding: 30px;
}
.success {
  /* min-width: 150px;
  max-width: 400px; */

  /* margin: 0 auto; */
  width: 40%;
  outline: #4682a9 solid 2px;
  padding: 30px;
  font-size: 25px;
  margin: auto;
  color: #4682a9;
  border-radius: 5px;
}
