<a routerLink="/user-profile" routerLinkActive="active"
  ><button mat-raised-button class="button">Profile Page</button></a
>
<div *ngIf="!isRegistered; else successMessage">
  <h1>User Registeration</h1>
  <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="myForm">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input
        formControlName="name"
        name="name"
        matInput
        placeholder="Ex- Jay Kim"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
        name="email"
      />
      <mat-error
        *ngIf="myForm.get('email')!.touched && myForm.get('email')!.value == ''"
        >You must enter a value</mat-error
      >
      <mat-error
        *ngIf="
          myForm.get('email')!.touched && myForm.get('email')!.status != 'VALID'
        "
        >You must enter a valid email</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        name="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Bio</mat-label>
      <input matInput name="bio" formControlName="bio" required />
    </mat-form-field>
    <button
      mat-button
      color="primary"
      type="submit"
      [disabled]="myForm.status === 'INVALID'"
    >
      Submit
    </button>
  </form>
  <p>{{ isRegistered }}</p>
</div>
<ng-template #successMessage>
  <div class="success"><p>Succcess! You can access the Profile Page.</p></div>
</ng-template>
